html,body{
    color:$text;
}
img{
    max-width: 100%;
}
a{
    color:$text;
    &:hover{
        color:#000;
        text-decoration: none;
    }
}

.font-medium{
    font-weight: 500;
}
.text-primary{
    color:$primary;
}
.text-sm{
    font-size: 12px;
}

.mb-14{
    margin-bottom: 14px;
}
.mb-18{
    margin-bottom: 18px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-36{
    margin-bottom: 36px;
}
.mb-42{
    margin-bottom: 42px;
}
@include custom_min(576px){
    .mb-sm-14{
        margin-bottom:14px;
    }
}
@include custom_min(768px){
    .mb-md-20{
        margin-bottom: 20px;
    }
}
@include custom_min(992px){
    .mb-lg-40{
        margin-bottom: 40px;
    }
    .mb-lg-30{
        margin-bottom: 30px;
    }
    .text-lg-md{
        font-size: 18px;
    }
    .text-lg-lg{
        font-size: 24px;
    }
}

input,
.form-control{
    outline: none;
    box-shadow: none;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}