.c-btn{
    font-weight: 600;
    min-width: 164px;
    padding: 8px 10px;
    font-size: 18px;

    &.btn-primary{
        background-color: $primary;
    }
    &.btn-disabled{
        opacity: 0.5;
        pointer-events: none;
    }

    &.btn-sm{
        font-size: 14px;
        font-weight: 600;
        padding-left: 25px;
        padding-right: 25px;
    }
    @include custom_min(992px){
        font-size: 20px;
        min-width: 240px;

        &.btn-sm{
            font-size: 16px;
            padding-top:10px;
            padding-bottom: 10px;
        }
    }
}