.c-order-card{
    background-color: #F9F9F9;
    padding:15px;

    .order-list{
        .order-item{
            border-bottom:1px solid rgba(#C7C7C7,0.7);
            padding-bottom:10px;
            margin-bottom:10px;
            display: flex;
            align-items: center;
            .image{
                max-width: 80px;
                flex:0 0 80px;
                display: flex;
                justify-content: center;
            }
            .text{
                max-width: calc(100% - 80px);
                flex:0 0 calc(100% - 80px);
                line-height:1.2;

                .title{
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
                p{
                    font-size: 12px;
                    font-weight: 300;
                    margin: 0;
                    line-height:1.2;
                }
            }
        }
    }

    .order-total{
        .item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
            .title{
                font-weight: 600;
                font-size: 14px;
                line-height: 1.2;
                span{
                    font-weight: 400;
                    font-size: 12px;
                }
            }
            .price{
                font-weight: 600;
                font-size: 16px;
                span{
                    font-size: 12px;
                }
            }
            &.item-with-border-top{
                padding-top:10px;
                border-top:1px solid #c7c7c7;
                .title{
                    font-size: 12px;
                }
            }
        }
    }
    .order-shipment{
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        border-top: 1px dashed #c7c7c7;
        padding-top:10px;
    }

    @include custom_min(768px){
        padding:20px;
    }
}